.image-overlay-block {

     &__image-wrapper {
          position: relative;

          img {
               position: relative;
               z-index: 10;

               @include media-breakpoint-down(sm) {
                    padding: 0 8px;
               }

          }

          &:after {
               content: '';
               position: absolute;
               height: 100%;
               width: 100%;
               top: -20px;
               left: -20px;
               border: 5px solid #F6C6CE;
               -moz-border-image: -moz-linear-gradient(top left, #F6C6CE 0%, #E994A0 100%);
               -webkit-border-image: -webkit-linear-gradient(top left, #F6C6CE 0%, #E994A0 100%);
               border-image: linear-gradient(to bottom right, #F6C6CE 0%, #E994A0 100%);
               border-image-slice: 1;
               z-index: 1;
               
               @include media-breakpoint-up(sm) {
                    top: -20px;
                    left: -20px;     
               }

               @include media-breakpoint-down(sm) {
                    top: -12px;
                    left: -12px;     
               }

          }

     }

     &__container {
          position: relative;
          z-index: 20;
     }

}