.btn {

     &.btn--outline {
          position: relative;

          &:after {
               content: '';
               position: absolute;
               height: 100%;
               width: 100%;
               bottom: -10px;
               right: -10px;
               border-style: solid;
               border-width: 2px;
               border-image-slice: 1;
               transition: .3s ease all;
          }

          &:hover:after {
               bottom: -6px;
               right: -6px;
          }

          span {
               position: relative;
          }
     }
}

.btn-primary {
     z-index: -1;

     &:after  {

          &.btn--outline {
               border-color: #0C3437;
          }
     
          &.btn--outline-gradient {
               border-color: #F6C6CE;
               -moz-border-image: -moz-linear-gradient(top left, #F6C6CE 0%, #E994A0 100%);
               -webkit-border-image: -webkit-linear-gradient(top left, #F6C6CE 0%, #E994A0 100%);
               border-image: linear-gradient(to bottom right, #F6C6CE 0%, #E994A0 100%);
          }
     
     }

}

.btn-secondary {
     z-index: -1;

     &:after {

          &.btn--outline {
               border-color: #7F1A28;
          }
     
          &.btn--outline-gradient {
               border-color: #F6C6CE;
               -moz-border-image: -moz-linear-gradient(top left, #F6C6CE 0%, #E994A0 100%);
               -webkit-border-image: -webkit-linear-gradient(top left, #F6C6CE 0%, #E994A0 100%);
               border-image: linear-gradient(to bottom right, #F6C6CE 0%, #E994A0 100%);
          }
     
     }
     
}