.btn--outline {
     position: relative;

     &:after {
          content: '';
          position: absolute;
          height: 100%;
          width: 100%;
          bottom: -10px;
          right: -10px;
          border-style: solid;
          border-width: 2px;
          border-image-slice: 1;
          transition: .3s ease all;
          z-index: -1;
     }

     &:hover:after {
          bottom: -6px;
          right: -6px;
     }

     span {
          position: relative;
     }
}

.btn-primary {

     &.btn--outline {

          &:after {
               border-color: #0C3437;
          }
     }

}

.btn-secondary {

     &.btn--outline {

          &:after {
               border-color: #7F1A28;
          }
     }

}

.z-index-10 {
     z-index: 10 !important;
}